<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./../static/assets/eth.png">
    <link rel="stylesheet" href="./../static/css/vote.css">
    <title>VotinCorpo - Personnal info</title>
</head>
<body>

    <header>
        <a href="index.html"><img src="./../static/assets/logo.png" alt="VotinCorpo logo" width="500" height="92" style="display: block; margin: 0 auto;"></a>
        <nav>
            <a href="elector.html" id="personalInfo">Personnal Info</a>
            <a href="elections.html"  id="elections">Elections</a>
        </nav>
    </header>


    <div class="container">
        <div class="container-item">
            <p class="title">Full Name:</p>
            <p>{{full name}}</p>
        </div>

        <div class="container-item">
            <p class="title">Company:</p>
            <p>{{company}}</p>
        </div>

        <div class="container-item">
            <p class="title">Position:</p>
            <p>{{position}}</p>
        </div>

        <div class="container-item">
            <p class="title">Email:</p>
            <p>{{email}}</p>
        </div>

        <div class="container-item">
            <p class="title">Address:</p>
            <p>{{address}}</p>
        </div>

        <div class="container-item">
            <p class="title">Number of votes:</p>
            <p>{{votes_nb}}</p>
        </div>
    </div>
    
    <script src="./../js/vote.js"></script>
</body>
</html>