<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='assets/eth.png')}}">
    <link rel="stylesheet" href="./../static/css/vote.css">
    <title>VotinCorpo - Elections</title>
</head>
<body>

    <header>
        <a href="/VotinCorpo"><img src="./../static/assets/logo.png" alt="VotinCorpo logo" width="500" height="92" style="display: block; margin: 0 auto;"></a>
        <nav>
            <a href="/MyElectorSpace" id="personalInfo">Personnal Info</a>
            <a href="/elections"  id="elections">Elections</a>
        </nav>
    </header>

    <div class="elections">

        <div class="election">
            <button id="voteBtn" onclick="openPopup()">Crédit Agricole CIB employee representative</button>
        </div>

        <div id="votePopup" class="popup">
            <div class="popup-content">
                <span class="close" onclick="closePopup()">&times;</span>
                <h2>Vote</h2>
            </div>
        </div>

    </div>


<div id="votingPopup" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <form id="votingForm">
            <div class="voting-panel">
                <h2>Voting Panel</h2>
                <div class="candidate" onclick="toggleInfo('candidate1Info')">
                    <input type="radio" id="candidate1" name="candidate" value="Baburao" required>
                    <label for="candidate1">Mathilde Fougere - Sales Assistant</label>
                    <div id="candidate1Info" class="candidate-info">
                        <p>Age: 28</p>
                        <p>Education: Sorbonne</p>
                    </div>
                </div>
                <div class="candidate" onclick="toggleInfo('candidate2Info')">
                    <input type="radio" id="candidate2" name="candidate" value="Baburao" required>
                    <label for="candidate2">Roger Lemoine - Data Scientist</label>
                    <div id="candidate2Info" class="candidate-info">
                        <p>Age: 38</p>
                        <p>Education: Polytechnique</p>
                    </div>
                </div>
                <div class="candidate" onclick="toggleInfo('candidate3Info')">
                    <input type="radio" id="candidate3" name="candidate" value="Baburao" required>
                    <label for="candidate3">Sarah Bors- HR</label>
                    <div id="candidate3Info" class="candidate-info">
                        <p>Age: 45</p>
                        <p>Education: BA (English Hons.)</p>
                    </div>
                </div>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
    <script src="{{ url_for('static', filename='js/vote.js')}}"></script>
</body>
</html>














